:root {
    --white: #ffffff;
    --background-back: #151a30f5;
    --background-containers: #222b45;
    --shadow: #1a1f33;
    --icons: #5364af;
}
.content-custom {
    background: var(--background-back) !important;
}

.custom-nav{
    background-color: var(--background-containers) !important;
    box-shadow: 0 .5rem 1rem var(--shadow) !important;
}

.custom-nav .btn-custom{
    background-color: var(--background-back) !important;
}

.custom-nav li span{
    color: var(--white) !important;
}

.custom-nav li a i::before{
    color: var(--icons) !important;
}

.custom-content{
    background-color: var(--background-back) !important;
}

#content-wrapper #content{
    display: flex !important;
    flex-direction: column !important;
    justify-content: space-between !important;
}

.card-custom{
    background-color: var(--background-containers) !important;
}

@media only screen and (max-width: 768px) {
    .content-custom {
        padding: 10px ;
        display: flex !important;
        gap: 15px !important;
        padding-top: 20px !important;
    }

    .content-custom .logo-img img{
        width: 100% !important;
    }

    .content-custom .buttons-costom-links{
        display: flex !important;
        flex-wrap: wrap !important;
        gap: 15px !important;
    }
}
