:root {
    --white: #ffffff;
    --background-back: #151a30f5;
    --background-containers: #222b45;
    --shadow: #1a1f33;
    --icons: #5364af;
}

.content-custom {
    background: var(--background-back) !important;
}

.custom-nav{
    background-color: var(--background-containers) !important;
    box-shadow: 0 .5rem 1rem var(--shadow) !important;
}

.custom-nav .btn-custom{
    background: none !important;
    color: var(--white) !important;
}

.custom-nav li span{
    color: var(--white) !important;
}

.custom-nav li a i::before{
    color: var(--icons) !important;
}

.custom-content{
    background-color: var(--background-back) !important;
}

.custom-container-card .card{
    background-color: var(--background-containers) !important;
}

.card-custom-users,
.card-custom-users .card-header{
    background: none var(--background-containers) !important;
    border: none !important;
}

.card-custom-users h4,
.card-custom-hotels h4,
.card-custom-hotel H4{
    color: var(--white) !important;
}

.card-custom-users label,
.card-custom-users th,
.card-custom-users td,
.card-custom-users .dataTables_info{
    color: var(--white);
}

.card-custom-users table,
.card-custom-users thead,
.card-custom-users tr,
.card-custom-users th,
.card-custom-users td{
    border: none !important;
}

.card-custom-users th,
.card-custom-users td{
    padding: 10px 0px !important;
}

.card-custom-users tr{
    border-bottom: 1px solid var(--background-back) !important;
}

.card-custom-users .table-responsive th{
    cursor: pointer !important;
}

.btn-custom-action{
    color: var(--white) !important;
    background-color: var(--background-back) !important;
    padding: 5px 10px !important;
}

.modal-custom{
    background-color: var(--background-back) !important;
    color: var(--white) !important;
}

.modal-custom input{
    background-color: var(--background-containers) !important;
    color: var(--white) !important;
}

.modal-custom ul li{
    background-color: var(--background-containers) !important;
    color: var(--white) !important;
}

.card-custom-hotels,
.card-custom-hotels .card-header,
.card-custom-hotels section{
    background-color: var(--background-back) !important;
    border: none !important;
    border-radius: 0px !important;
}

.card-custom-hotels section .card{
    background-color: var(--background-containers) !important;
    color: var(--white) !important;
    box-shadow: 0 .5rem 1rem var(--shadow) !important;
}

.card-custom-hotel .card-header,
.card-custom-hotel .card{
    background-color: var(--background-containers) !important;
    color: var(--white) !important;
    border: none !important;
}

.card-custom-hotel .card{
    border-radius: 0px !important;
}

.card-custom-hotel{
    border: none !important;
}

.card-custom-hotel .card input,
.card-custom-hotel .card select{
    background-color: var(--background-back) !important;
    color: var(--white) !important;
    border: none !important;
}

.card-custom-hotel .departaments{
    background-color: var(--background-containers) !important;
    color: var(--white) !important;
}

.accordion-custom button{
    background-color: var(--background-containers) !important;
    color: var(--white) !important;
}

.accordion-custom button::after svg{
    color: red !important;
}

@media only screen and (max-width: 768px) {
    .content-custom {
        padding: 10px ;
        display: flex !important;
        gap: 15px !important;
        padding-top: 20px !important;
    }

    .content-custom .logo-img img{
        width: 100% !important;
    }

    .content-custom .buttons-costom-links{
        display: flex !important;
        flex-wrap: wrap !important;
        gap: 15px !important;
    }
}
